@import '~@angular/material/theming';

@mixin app-root-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-root {
    background-color: mat-color($background, background);
  }
  h1 {
    color: mat-color($foreground, text);
  }
  p {
    color: mat-color($foreground, text);
  }
  .card-principal{
    max-width: 500px;
    margin: auto;
  }
  .list-item:hover{    
    cursor: pointer;    
    background-color:  mat-color($background,hover);
  }
  
}

@mixin app-root-typography($config) {
  app-root {
    h1 {
      @include mat-typography-level-to-styles($config, title);
    }
  }
}