.card-principal{  

    .email{
        flex: 1 1 400px;
        margin: 0;
    }
    .button-content{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
    }
    mat-divider {
        border-top-color: rgb(0 0 0 / 12%);
    }   
}
 
:host ::ng-deep .mat-list-item-content {
    justify-content: space-between;
}
